<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-lg-5 col-md-6">
            <div class="ibox">
                <div class="ibox-body text-center">
                    <div class="m-t-20">
                        <img class="img-circle" src="./assets/img/users/u3.jpg" />
                    </div>
                    <h5 class="font-strong m-b-10 m-t-10">{{firstName}}</h5>
                    <div class="m-b-20 text-muted">{{role}}</div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        .profile-social a {
            font-size: 16px;
            margin: 0 10px;
            color: #999;
        }
        .profile-social a:hover {
            color: #485b6f; 
        }
        .profile-stat-count {
            font-size:22px
        }    
    </style>
</div>
