.right-aligne{
	font-size: 15px;
    font-weight: 700;
    float: right;
}
.width_d{
	width: 100%;
}
.false{
	color: #f39c12 !important;
}
.true{
	color: #2ecc71 !important;
}
.fa-user-circle{
	background: transparent;
    color: #f39c12;
    font-size: 21px;
    border-radius: 50%;
    padding: -1px;
}
.fa-user-circle{
	background: transparent;
    color: #2ecc71;
    font-size: 21px;
    border-radius: 50%;
    padding: -1px;
}
.btn-data{
	background: #23B7E5;
}
.fa-pencil-square-o{
	color: #FFF;
}